@media only screen and (max-width:750px) {}

@media only screen and (max-width: 415px) {
    #sidebar-wrapper {
        width: 225px;
    }
    #wrapper span {
        visibility: visible !important;
    }
    #wrapper i img {
        width: 50%;
    }
    #wrapper i {
        float: left !important;
    }
    .md10 {
        margin-left: -15px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 50px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 70px;
    }
    #wrapper.toggled i {
        float: right !important;
    }
    #wrapper.toggled span {
        visibility: hidden !important;
    }
    .toggled .sidebar-nav li a {
        margin: 20px;
    }
    .header li a {
        display: block;
        padding: 10px 20px;
        margin: -5px 0px;
        font-size: 20px;
        text-align: right;
    }
    /* new style */
    #wrapper {
        padding-left: 0px;
    }
    div#sidebar-wrapper {
        display: none;
    }
    #wrapper i.cart {
        display: contents;
    }
    #footer {
        display: block;
    }
    .md100 {
        margin-bottom: 55px;
    }
    .mobilemenu li {
        display: inline-block;
        margin: 0px 30px;
    }
    .mobilemenu li span {
        width: min-content;
        display: block;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        /* or 100% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.333333px;
        color: #FFFFFF;
    }
    label.container1 {
        display: inline-block;
        margin: 10px 15px;
    }
    #chartdiv3 {
        width: 100%;
        height: 260px;
    }
}

@media only screen and (max-width: 412px) {
    #sidebar-wrapper {
        width: 225px;
    }
    #wrapper span {
        visibility: visible !important;
    }
    #wrapper i img {
        width: 50%;
    }
    #wrapper i {
        float: left !important;
    }
    .md10 {
        margin-left: -15px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 50px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 70px;
    }
    #wrapper.toggled i {
        float: right !important;
    }
    #wrapper.toggled span {
        visibility: hidden !important;
    }
    .toggled .sidebar-nav li a {
        margin: 20px;
    }
    .header li a {
        display: block;
        padding: 10px 20px;
        margin: -5px 0px;
        font-size: 20px;
        text-align: right;
    }
    /* new style */
    #wrapper {
        padding-left: 0px;
    }
    div#sidebar-wrapper {
        display: none;
    }
    #wrapper i.cart {
        display: contents;
    }
    #footer {
        display: block;
    }
    .md100 {
        margin-bottom: 55px;
    }
    .mobilemenu li {
        display: inline-block;
        margin: 0px 30px;
    }
    .mobilemenu li span {
        width: min-content;
        display: block;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        /* or 100% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.333333px;
        color: #FFFFFF;
    }
    label.container1 {
        display: inline-block;
        margin: 10px 15px;
    }
    #chartdiv3 {
        width: 100%;
        height: 260px;
    }
}

@media only screen and (max-width: 360px) {
    #sidebar-wrapper {
        width: 225px;
    }
    #wrapper span {
        visibility: visible !important;
    }
    #wrapper i img {
        width: 50%;
    }
    #wrapper i {
        float: left !important;
    }
    .md10 {
        margin-left: -15px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 50px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 70px;
    }
    #wrapper.toggled i {
        float: right !important;
    }
    #wrapper.toggled span {
        visibility: hidden !important;
    }
    .toggled .sidebar-nav li a {
        margin: 20px;
    }
    .header li a {
        display: block;
        padding: 10px 20px;
        margin: -5px 0px;
        font-size: 20px;
        text-align: right;
    }
    /* new style */
    #wrapper {
        padding-left: 0px;
    }
    div#sidebar-wrapper {
        display: none;
    }
    #wrapper i.cart {
        display: contents;
    }
    #footer {
        display: block;
    }
    .md100 {
        margin-bottom: 55px;
    }
    .mobilemenu li {
        display: inline-block;
        margin: 0px 30px;
    }
    .mobilemenu li span {
        width: min-content;
        display: block;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        /* or 100% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.333333px;
        color: #FFFFFF;
    }
    label.container1 {
        display: inline-block;
        margin: 10px 15px;
    }
    #chartdiv3 {
        width: 100%;
        height: 260px;
    }
}

@media only screen and (max-width: 321px) {
    #sidebar-wrapper {
        width: 225px;
    }
    #wrapper span {
        visibility: visible !important;
    }
    #wrapper i img {
        width: 50%;
    }
    #wrapper i {
        float: left !important;
    }
    .md10 {
        margin-left: -15px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 50px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 70px;
    }
    #wrapper.toggled i {
        float: right !important;
    }
    #wrapper.toggled span {
        visibility: hidden !important;
    }
    .toggled .sidebar-nav li a {
        margin: 20px;
    }
    .header li a {
        display: block;
        padding: 10px 20px;
        margin: -5px 0px;
        font-size: 20px;
        text-align: right;
    }
    /* new style */
    #wrapper {
        padding-left: 0px;
    }
    div#sidebar-wrapper {
        display: none;
    }
    #wrapper i.cart {
        display: contents;
    }
    #footer {
        display: block;
    }
    .md100 {
        margin-bottom: 55px;
    }
    .mobilemenu li {
        display: inline-block;
        margin: 0px 30px;
    }
    .mobilemenu li span {
        width: min-content;
        display: block;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        /* or 100% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.333333px;
        color: #FFFFFF;
    }
    label.container1 {
        display: inline-block;
        margin: 10px 15px;
    }
    #chartdiv3 {
        width: 100%;
        height: 260px;
    }
}