 body {
     background: #E5E5E5;
     overflow-x: hidden;
 }

 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: sans-serif;
 }

 /* Toggle Styles */

 /* header */

 .header {
     background-color: #fff;
     box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
     position: fixed;
     width: 100%;
     z-index: 3;
 }

 .header ul {
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     background-color: #fff;
 }

 .header li a {
     display: block;
     padding: 10px 20px;
     border-right: 1px solid #f4f4f4;
     text-decoration: none;
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 72px;
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.236842px;
     color: #757575;
 }

 .header li a:hover,
 .header .menu-btn:hover {
     background-color: #f4f4f4;
 }

 .header .logo {
     display: block;
     float: left;
     font-size: 2em;
     padding: 10px 20px;
     text-decoration: none;
 }

 /* menu */

 .header .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
 }

 /* menu icon */

 .header .menu-icon {
     cursor: pointer;
     display: inline-block;
     float: right;
     padding: 28px 20px;
     position: relative;
     user-select: none;
 }

 .header .menu-icon .navicon {
     background: #333;
     display: block;
     height: 2px;
     position: relative;
     transition: background .2s ease-out;
     width: 18px;
 }

 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
     background: #333;
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
 }

 .header .menu-icon .navicon:before {
     top: 5px;
 }

 .header .menu-icon .navicon:after {
     top: -5px;
 }

 /* menu btn */

 .header .menu-btn {
     display: none;
 }

 .header .menu-btn:checked~.menu {
     max-height: 240px;
 }

 .header .menu-btn:checked~.menu-icon .navicon {
     background: transparent;
 }

 .header .menu-btn:checked~.menu-icon .navicon:before {
     transform: rotate(-45deg);
 }

 .header .menu-btn:checked~.menu-icon .navicon:after {
     transform: rotate(45deg);
 }

 .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
     top: 0;
 }

 /* 48em = 768px */

 @media (min-width: 48em) {
     .header li {
         float: left;
     }
     .header li a {
         padding: 10px 30px;
     }
     .header .menu {
         clear: none;
         float: right;
         max-height: none;
     }
     .header .menu-icon {
         display: none;
     }
 }

 #wrapper {
     padding-left: 200px;
     -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
 }

 #wrapper.toggled {
     padding-left: 200px;
 }

 #sidebar-wrapper {
     z-index: 1000;
     position: fixed;
     left: 250px;
     width: 0;
     height: 100%;
     margin-left: -250px;
     overflow-y: auto;
     background-color: #0F4C73 !Important;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 #wrapper.toggled #sidebar-wrapper {
     width: 0;
 }

 #page-content-wrapper {
     width: 100%;
     position: absolute;
     padding: 10px;
 }

 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-left: 0px;
 }

 /* Sidebar Styles */

 .sidebar-nav {
     position: absolute;
     top: 0;
     right: 15px;
     width: max-content;
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .sidebar-nav li {
     margin: 10px 0px;
     text-indent: 20px;
     line-height: 40px;
 }

 .sidebar-nav li a {
     display: block;
     text-decoration: none;
     color: #ffffff;
 }

 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #fff;
     background: #312A25;
 }

 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
     text-decoration: none;
 }

 .sidebar-nav>.sidebar-brand {
     height: 30px;
     font-size: 0px;
     line-height: 50px;
 }

 .sidebar-nav>.sidebar-brand a {
     color: #999999;
 }

 .sidebar-nav>.sidebar-brand a:hover {
     color: #fff;
     background: none;
 }

 @media(min-width:768px) {
     #wrapper {
         padding-left: 200px;
     }
     #wrapper.toggled {
         padding-left: 0;
     }
     #sidebar-wrapper {
         width: 230px;
     }
     #wrapper.toggled #sidebar-wrapper {
         width: 40px;
     }
     #wrapper.toggled span {
         visibility: hidden;
     }
     #wrapper.toggled i {
         float: right;
     }
     #page-content-wrapper {
         padding: 20px;
         position: relative;
     }
     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
     }
 }

 @media(max-width:414px) {
     #wrapper.toggled #page-content-wrapper {
         position: absolute;
         margin-right: 60px;
     }
     #wrapper.toggled {
         padding-right: 60px;
     }
     #wrapper {
         padding-left: 200px;
     }
     #wrapper.toggled {
         padding-left: 0;
     }
     #sidebar-wrapper {
         width: 50px;
     }
     #wrapper.toggled #sidebar-wrapper {
         width: 140px;
     }
     #wrapper.toggled span {
         visibility: visible;
         position: relative;
         left: 70px;
         bottom: 13px;
     }
     #wrapper span {
         visibility: hidden;
     }
     #wrapper.toggled i {
         float: right;
     }
     #wrapper i {
         float: right;
     }
     #page-content-wrapper {
         padding: 5px;
         position: relative;
     }
     #wrapper.toggled #page-content-wrapper {
         position: relative;
         margin-right: 0;
     }
 }

 div#wrapper {
     margin-top: 95px;
 }

 .active {
     background: #2575A7;
 }

 .card {
     padding: 10px;
     margin: 10px;
 }

 .cardfirst {
     display: inherit;
     padding: 25px;
 }

 p {
     margin: 10px;
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     /* or 150% */
     letter-spacing: 0.333333px;
     color: #242124;
 }

 .checked {
     color: orange;
 }

 .review {
     display: inline-flex;
 }

 .cart {
     color: #3676CC;
 }

 .pname {
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     /* or 150% */
     letter-spacing: 0.333333px;
     color: #3676CC;
 }

 .switch {
     display: inline-block;
     position: relative;
     width: 50px;
     height: 25px;
     border-radius: 20px;
     background: #dfd9ea;
     transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
     vertical-align: middle;
     cursor: pointer;
     margin: 12px 0px;
 }

 .switch::before {
     content: '';
     position: absolute;
     top: 1px;
     left: 2px;
     width: 22px;
     height: 22px;
     background: #fafafa;
     border-radius: 50%;
     transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
 }

 .switch:active::before {
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
 }

 input:checked+.switch {
     background: #FA6000;
 }

 input:checked+.switch::before {
     left: 27px;
     background: #fff;
 }

 input:checked+.switch:active::before {
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
 }

 .dot {
     margin: 10px 10px;
     height: 15px;
     width: 15px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
 }

 .weight {
     width: 12%;
     background: white;
     border: 2px solid #FA6000;
     box-sizing: border-box;
     border-radius: 5px;
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     margin: 0px 12px;
     padding: 2px 5px;
     line-height: 25px;
     text-align: center;
     color: #FA6000;
 }

 .caption {
     width: max-content;
     margin-left: 10px;
 }

 .cardsecond {
     border-left: 10px solid #FEE94E;
 }

 .inline {
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     /* or 125% */
     display: flex;
     align-items: center;
     letter-spacing: 0.236842px;
     color: #242124;
 }

 .float-right {
     color: #757575;
     margin-left: 15px;
 }

 .title {
     visibility: visible !important;
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     line-height: 24px;
     /* or 100% */
     letter-spacing: 0.333333px;
     color: #242124;
 }

 .bag {
     margin: 0px 10px;
 }

 .verified {
     visibility: visible !important;
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     /* or 171% */
     letter-spacing: 0.333333px;
     color: #2575A7;
 }

 .cardthird {
     border-left: 10px solid #338063;
 }

 .cardforth {
     border-left: 10px solid #338063;
 }

 .cardfivth {
     border-left: 10px solid #AC0216;
 }

 .toggled i img {
     width: 50%;
     position: relative;
     right: -20px;
 }

 i img {
     width: 10%;
 }

 i.fa.fa-chevron-right {
     color: white;
     font-size: 20px;
 }

 i.fa.fa-chevron-left {
     color: white;
     font-size: 20px;
 }

 #chartdiv1 {
     width: 100%;
     height: 500px;
 }

 #chartdiv3 {
     width: 100%;
     height: 500px;
 }

 #chartdiv {
     width: 100%;
     height: 500px;
 }

 #chartdiv4 {
     width: 100%;
     height: 500px;
 }

 .text-center {
     align-items: center;
 }

 .btn-orange {
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 25px;
     /* identical to box height */
     text-align: center;
     border-radius: 5px;
     color: #FFFFFF;
     background: #FA6000;
 }

 footer {
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 0;
     background-color: white;
 }

 ul.footer-menu {
     padding: 10px;
     list-style: none;
 }

 ul.footer-menu li {
     display: inline-block;
     margin: 0px 30px;
 }

 .price {
     background: #F2453D;
     color: white;
 }

 span.fa.fa-star {
     visibility: visible !important;
 }

 span.pname {
     visibility: visible !important;
 }

 span.dot {
     visibility: visible !important;
 }

 .md10 {
     margin-left: 10px;
 }

 .md100 {
     margin-top: 150px;
 }

 .container1 input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
 }

 /* Create a custom checkbox */

 .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 20px;
     width: 20px;
     background-color: #eee;
     color: white;
 }

 /* On mouse-over, add a grey background color */

 .container1:hover input~.checkmark {
     background-color: #CEA12B;
 }

 /* When the checkbox is checked, add a blue background */

 .container1 input:checked~.checkmark {
     background-color: #003764;
 }

 /* Create the checkmark/indicator (hidden when not checked) */

 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }

 /* Show the checkmark when checked */

 .container1 input:checked~.checkmark:after {
     display: block;
 }

 /* Style the checkmark/indicator */

 .container1 .checkmark:after {
     left: 6.5px;
     top: 2px;
     width: 6px;
     height: 12px;
     border: solid #fafafa;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate( 45deg);
     -ms-transform: rotate(45deg);
     transform: rotate( 45deg);
 }

 .container1 {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 24px;
     cursor: pointer;
     font-size: 16px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 .container1 input:checked~.red {
     background-color: red;
 }

 .container1 input:checked~.purple {
     background-color: #9B2FAE;
 }

 .container1 input:checked~.blue {
     background-color: #1EABF1;
 }

 .container1 input:checked~.green {
     background-color: #159688;
 }

 /* Custom page CSS
-------------------------------------------------- */

 /* Not required for template or sticky footer method. */

 #wrap>.container {
     padding: 60px 15px 0;
 }

 .container .text-muted {
     margin: 20px 0;
 }

 #footer>.container {
     padding-left: 15px;
     padding-right: 15px;
 }

 code {
     font-size: 80%;
 }

 #footer {
     display: none;
     position: fixed;
     height: 80px;
     background-color: #0F4C73;
     bottom: 0;
     z-index: 2221;
     width: 100%;
 }

 .mobilemenu img {
     margin: 0px auto;
     display: block;
 }

 #hidemenu {
     margin: 10px 0px;
     align-items: end;
     padding: 10px;
     border-bottom: 1px solid white;
     display: none;
 }

 #hidemenu a {
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 16px;
     align-items: end;
     float: right;
     text-align: center;
     letter-spacing: 0.333333px;
     color: #FFFFFF;
 }